@page
@model DevPrime.Web.IndexModel
@{
    ViewData["Title"] = DevPrime.Stack.Foundation.Setup.AppName;
}

<div style='text-align:center;padding:10px;margin:10px;color:#512da8'>
    <h1>Welcome to DevPrime! </h1>
    <p>Microservice @DevPrime.Stack.Foundation.Setup.AppName : @DevPrime.Stack.Foundation.Setup.AppID</p>
    <p><a href='~/swagger/index.html'>Go to OpenApi</a></p>
</div>